

{{!-- Credits Page --}}
<div class="text-center">
        
        <h1 class="text-4xl font-bold mb-6 font-heading mt-5">Image Credits</h1>
        <hr>

        {{!-- homepage image --}}
        <div class="mb-4">
            <p class="text-lg font-semibold mb-2 mt-5">HomePage Image</p>
            
            <p>Photo by

                <a href="https://unsplash.com/@rachelcoyne?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank" class="text-secondary-500 hover:underline">
                    Rachel Coyne 
                </a>
                
                on 
                
                <a href="https://unsplash.com/photos/group-of-people-watching-concert-U7HLzMO4SIY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank" class="text-secondary-500 hover:underline">
                    Unsplash
                </a>
            </p>

        </div>

        {{!-- Background image --}}
        <div class="mb-4 mt-8">
            <p class="text-lg font-semibold mb-2">Background Image</p>
            <p>
                <a href="https://www.freepik.com/free-vector/abstract-blurred-background_1250571.htm#query=blurred%20gradient&position=12&from_view=keyword&track=ais&uuid=15273457-6e00-4825-8dcf-7fd9ecd79a87" target="_blank" class="text-secondary-500 hover:underline">
                    Image by rocketpixel
                </a>
                on Freepik
            </p>
        </div>
</div>

<!-- Link back to home page -->
<div class="mt-8 flex justify-center">
   <a href="/">
        <button class="ml-2 bg-gradient-to-r from-secondary-600 to-tert-700 hover:from-secondary-700 hover:to-tert-800 font-button text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-tert-300 shadow-md">
            HOME
        </button>
    </a>
</div>

<br>
<hr>

