
<div class="login-error flex justify-center">
    {{#if message}}
        <h1 class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-md mb-4 mt-[20px]">
            {{message}}
        </h1>
    {{/if}}
</div>

{{!-- Forbidden Message --}}
<div class="mt-8 max-w-sm mx-auto">
    <p class="text-gray-600 text-sm font-semibold">You don't have permission to access this page.</p>
    <p class="text-gray-600 text-sm font-semibold">Please go to the <a href="/" class="text-blue-500 hover:underline">Homepage</a>.</p>
</div>
