
{{#if message}}
    <h1 class="text-red-600 font-bold text-xl mb-4">{{message}}</h1>
{{/if}}

{{!-- Forbidden Message --}}
<div class="mt-8 max-w-sm mx-auto">
    <p class="text-gray-600 text-sm font-semibold">You don't have permission to access this page.</p>
    <p class="text-gray-600 text-sm font-semibold">Please go to the <a href="/" class="text-blue-500 hover:underline">Homepage</a>.</p>
</div>
