{{!-- <h1 class="text-4xl font-bold mb-6 font-heading flex justify-center">{{title}}</h1> --}}

<div class="flex items-center justify-center">

    {{#unless isLoggedIn}}
        
        {{!-- Image on the left half --}}
        <div class="home-bg w-1/2 overflow-hidden rounded-l-lg border-[5px] border-primary-400 shadow-lg mt-[100px]">
            <img src="img/bg-1-rachel-coyne-unsplash.jpg" alt="Event Image" class="w-full h-full object-cover filter grayscale hover:grayscale-0 transition duration-300 ease-in-out">
        </div>

    {{/unless}}

    {{!-- Login & Register Options --}}
    <div class="home-buttons ml-8">

        {{!-- Show cover-photo & Login button only if logged out --}}
        {{#unless isLoggedIn}}

            <div class="home-loggedout-text text-center mt-[140px] ml-4">
                <h1 class="text-4xl font-bold mb-6 font-heading flex justify-center">Welcome to TicketVista!</h1>
                <h5 class="flex justify-center font-body mb-4"> 
                    <i>
                        Your Gateway to Unforgettable Experiences
                    </i>
                </h5>
                <h2 class="text-2xl font-bold mb-6 font-heading flex justify-center">Please login or register to continue.</h2>
            </div>

            <div class="login">
                <a href="/login">
                    <button class="ml-4 mt-[2rem] bg-gradient-to-r from-secondary-600 to-tert-700 hover:from-tert-600 hover:to-tert-800 font-button text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-tert-300 shadow-md">
                        LOGIN
                    </button>
                </a>
            </div>

            {{!-- Register a new user button --}}
            <div class="register">
                <a href="/register">
                    <button class="ml-4 bg-gradient-to-r from-green-500 to-green-700 hover:from-green-600 hover:to-green-800 font-button text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-green active:bg-green-800 shadow-md mt-2">
                        REGISTER!
                    </button>
                </a>
            </div>

        {{/unless}}


        {{!-- Options for Admin --}}
        {{#if isAdmin}}

            <div class="admin-container-big flex flex-col justify-center items-center h-screen">
                
                <div>
                    <h2 class="text-3xl font-bold text-gray-800 mb-8">Unlock Unforgettable Experiences with TicketVista</h2>
                </div>

                <div class="flex flex-row">
                    {{!-- Show Admin button only if logged in as admin --}}
                    <div class="admin mb-4 mr-9">
                        <a href="/admin/events" class="block">
                            <div class="bg-secondary-100 p-4 rounded-lg shadow-lg hover:shadow-2xl transition duration-300 border-2">
                                <img src="img/dashboard-icon.png" alt="Admin Dashboard" class="w-40 h-40 object-cover mb-2 rounded-lg">
                                <p class="text-center font-bold text-gray-800">Admin Dashboard</p>
                            </div>
                        </a>
                    </div>

                    {{!-- Show New Event button only if logged in as admin --}}
                    <div class="newEvent mb-4 mr-9">
                        <a href="/admin/newEvent" class="block">
                            <div class="bg-secondary-100 p-4 rounded-lg shadow-lg hover:shadow-2xl transition duration-300 border-transparent border-2">
                                <img src="img/plus-icon.png" alt="Create New Event" class="w-40 h-40 object-cover mb-2 rounded-lg">
                                <p class="text-center font-bold text-gray-800">Create A New Event</p>
                            </div>
                        </a>
                    </div>

                    {{!-- Register a new user button --}}
                    <div class="register mb-4">
                        <a href="/register" class="block">
                            <div class="bg-secondary-100 p-4 rounded-lg shadow-lg hover:shadow-2xl transition duration-300 border-transparent border-2">
                                <img src="img/newuser-icon.png" alt="Register-button-admin" class="w-40 h-40 object-cover mb-2 rounded-lg">
                                <p class="text-center font-bold text-gray-800">Register New User</p>
                            </div>
                        </a>
                    </div>

                </div>

            </div>


        
        {{/if}}


        {{#if isLoggedIn}}
            
            {{#if isAdmin}}

                

            {{/if}}


            {{!-- regular user --}}
            {{#unless isAdmin}}

                {{!-- Show User Dashboard button only if logged in as user --}}
                <div class="user">
                    <a href="/u/{{username}}/events">
                        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-green active:bg-green-800">User Dashboard</button>
                    </a>
                </div>

                {{!-- Similarly, show 'book event' button --}}
                <div class="user">
                    <a href="/u/{{username}}/book">
                        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-green active:bg-green-800">Book Event</button>
                    </a>
                </div>

            {{/unless}}

        {{/if}}

    </div>

</div>
