
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Favicon --}}
    <link rel="shortcut icon" href="/img/favicon-32.png" type="image/x-icon">

    {{!-- Stylesheets --}}
    <link rel="stylesheet" href="/stylesheets/style.css">

    {{!-- Script for Google reCAPTCHA --}}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <title>TicketVista</title>

</head>
<body class="bg-gray-100">


        <div class="nav-bar bg-blue-500 text-white py-2 px-4 flex justify-between items-center">

            {{!-- Logo --}}
            <div class="logo">
                <a href="/"><img src="/img/favicon-192.png" alt="TicketVista" width = "80"></a>
            </div>

            {{!-- Banner Title --}}
            <div class="banner text-4xl font-bold">
                <h1>TicketVista</h1>
            </div>

            {{!-- User's Info --}}
            <div class="pageName text-lg font-semibold flex items-center">
                

                {{!-- Logout Button --}}
                {{#if isLoggedIn}}
                    <h3> Welcome, {{pageName}}! </h3>

                    <form action="/logout" method="POST">
                        <button type="submit" class="ml-2 bg-red-500 hover:bg-red-700 text-white font-semibold py-1 px-2 rounded focus:outline-none focus:shadow-outline-red">Logout</button>
                    </form>
                {{else}}
                    <h3> Hello, Guest! </h3>
                {{/if}}
                
            </div>


    </div>

    {{{body}}}

</body>
</html>