
{{!-- error handling --}}
{{!-- {{#if error}}
    <h1 class="text-red-600 font-bold text-xl mb-4">{{error}}</h1>
{{/if}} --}}

{{#if messages.error}}
    <h1 class="text-red-600 font-bold text-xl mb-4">{{messages.error}}</h1>
{{/if}}


{{!-- Registration Form --}}
<form method="POST" action="" class="mt-8 max-w-sm mx-auto">
    
    {{!-- username --}}
    <div class="mb-4">
        <label for="username" class="block text-gray-600 text-sm font-semibold">Username</label>
        <input type="text" name="username" required class="w-full px-3 py-2 border rounded-md">
    </div>

    {{!-- Password --}}
    <div class="mb-4">
        <label for="password" class="block text-gray-600 text-sm font-semibold">Password</label>
        <input type="password" name="password" required class="w-full px-3 py-2 border rounded-md">
    </div>

    {{!-- Google reCAPTCHA element --}}
    <br>
        <div class="g-recaptcha" data-sitekey={{recaptchaAPIKeyLogin}}></div>
    <br>

    {{!-- Submit Button --}}
    <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md hover:shadow-md focus:outline-none focus:ring focus:ring-blue-300">
        Submit
    </button>
    
</form>
