
{{!-- error handling --}}
{{!-- {{#if error}}
    <h1 class="text-red-600 font-bold text-xl mb-4">{{error}}</h1>
{{/if}} --}}

<div class="login-error flex justify-center">
    {{#if messages.error}}
        <h1 class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-md mb-4 mt-[10px]">
            {{messages.error}}
        </h1>
    {{/if}}
</div>


{{!-- Registration Form --}}
<form method="POST" action="" class="mt-8 max-w-sm mx-auto">
    
    {{!-- username --}}
    <div class="mb-4">
        <label for="username" class="block text-gray-600 text-sm font-semibold">Username</label>
        <input type="text" name="username" required class="w-full px-3 py-2 border rounded-md">
    </div>

    {{!-- Password --}}
    <div class="mb-4">
        <label for="password" class="block text-gray-600 text-sm font-semibold">Password</label>
        <input type="password" name="password" required class="w-full px-3 py-2 border rounded-md">
    </div>

    {{!-- Submit Button --}}
    <button type="submit" class="w-full bg-gradient-to-r from-secondary-600 to-tert-700 hover:from-tert-600 hover:to-tert-800 font-button text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-tert-300 shadow-md">
        LOGIN
    </button>
    
</form>


{{!-- Signup page --}}
<div class="flex justify-center mt-10">

    {{!-- text  --}}
    <p class="text-primary-300 font-semibold">
        Don't have an account?

    {{!-- register page --}}
    <a href="/signup" class="text-secondary-600 font-bold ml-2 hover:text-secondary-700">
        Sign-Up here.
</div>
