
{{!-- Display the error/ access rights here --}}
<div class="newevent-error flex justify-center">
    {{#if error}}
        <h1 class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-md mb-4 mt-[10px]">
            {{error}}
        </h1>
    {{/if}}
</div>


{{!-- If an admin is accessing this page, display the following --}}
{{#unless error}}

    <div class="admin-new-container p-4 shadow-md rounded-md outline-none">

        {{!-- Title --}}
        <div class="title text-2xl font-heading font-bold mb-4 flex justify-center">
            <h1>ADD A NEW EVENT</h1>
        </div>


        <div class="admin-new-form font-body flex justify-center outline-none">

            {{!-- Form --}}
            <form method = "POST">

                {{!-- Event Name --}}
                <div class="mb-4">
                    
                    <label for="title" class="block text-gray-600 text-sm font-semibold">Title:</label>
                    <input type="text" id="title" name="title" value="" required class="w-96 px-3 py-2 border rounded-md">
                
                </div>

                {{!-- Event Date --}}
                <div class="mb-4">

                    <label for="date" class="block text-gray-600 text-sm font-semibold">Date:</label>
                    <input type="date" id="date" name="date" value="" required class="w-full px-3 py-2 border rounded-md">
                
                </div>

                {{!-- Event Venue --}}
                <div class="mb-4">

                    <label for="venue" class="block text-gray-600 text-sm font-semibold">Venue:</label>
                    <input type="text" id="venue" name="venue" value="" required class="w-full px-3 py-2 border rounded-md">
               
                </div>
                

                {{!-- Price --}}
                <div class="mb-4">

                    <label for="price" class="block text-gray-600 text-sm font-semibold">Price($):</label>
                    <input type="number" id="price" name="price" value="" required class="w-full px-3 py-2 border rounded-md">
                
                </div>

                {{!-- Description --}}
                <div class="mb-4">

                    <label for="description" class="block text-gray-600 text-sm font-semibold">Description:</label>
                    <textarea id="description" name="description" rows="5" cols="40" required class="w-full px-3 py-2 border rounded-md"></textarea>

                </div>

                {{!-- Add Users Manually --}}
                <div class="mt-4 mb-4">

                    <label for="participants" class="block text-gray-600 text-sm font-semibold">Participants (comma-separated usernames):</label>
                    <input type="text" id="participants" name="participants" value="" class="w-full px-3 py-2 border rounded-md">

                </div>
                

                {{!-- Submit --}}
                <div class="flex justify-center mb-9">
                    <button type="submit" class="bg-gradient-to-r from-secondary-600 to-tert-700 hover:from-tert-600 hover:to-tert-800 font-button text-white font-semibold py-2 px-4 rounded-md shadow-md">
                        Submit
                    </button>
                </div>

            </form>

        </div>

    </div>


{{/unless}}